<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>Spring Boot Kotlin REST API MySQL Example</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="https://github.com/hendisantika">Hendi Santika</a>
</nav>

<main class="container" role="main">

    <div class="starter-template">
        <h1>Spring Boot Kotlin REST API MySQL Example</h1>
    </div>
    <h3>List All API's:</h3>
    <ol>
        <li> GET /api/articles</li>

        <li> POST /api/articles</li>

        <li> GET /api/articles/{id}</li>

        <li> PUT /api/articles/{id}</li>

        <li> DELETE /api/articles/{id}</li>
    </ol>

    <div>
        <h5 th:text="'Viewed on: ' + ${#temporals.format(tanggal, 'dd-MMM-yyyy HH:ss')}">Spring Boot Kotlin REST API
            MySQL Example</h5>
    </div>


</main>
<!-- /.container -->

<script th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>